*{margin: 0; padding: 0; box-sizing: border-box;}



.container2{
    width: auto;
    height: 400px;
    margin-left: -70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.container{
    width: 200px;
    height: 500px;
    background-color: green;
    margin-left: -270px;
    margin-top: -85px;

}

#arvore{
    clip-path: polygon(
        20% 80%,
        80% 80%,
        50% 40%
    );
}

.tronco{
    width: 20px;
    height: 90px;
    background-color: brown;
    margin-left: 1090px;
    margin-top: -85px;
    box-shadow: 3px 1px brown;
}

.maca{
    width: 10px;
    height: 10px;
    margin-top: -230px;
    margin-left: 1085px;
    border-radius: 50%;
    box-shadow:
        10px -5px white,
        2px 30px goldenrod,
        28px 20px blue,
        15px 110px gold,
        -5px 70px blue,
        45px 115px brown,
        -20px 125px silver,
        30px 65px white;
    opacity: 90%;
    animation: troca-cor 3s linear infinite;
    animation-delay: 2s;
}

@keyframes troca-cor {
    30%{
        box-shadow:
        10px -5px rgb(139, 63, 63),
        2px 30px rgb(138, 102, 13),
        28px 20px rgb(34, 34, 75),
        15px 110px rgb(94, 86, 40),
        -5px 70px blue,
        45px 115px rgb(187, 80, 80),
        -20px 125px rgb(192, 192, 192),
        30px 65px rgb(185, 116, 116);
    }
    60%{
        box-shadow:
        10px -5px rgb(63, 102, 139),
        2px 30px rgb(218, 60, 32),
        28px 20px rgb(100, 202, 97),
        15px 110px rgb(94, 86, 40),
        -5px 70px rgb(187, 255, 0),
        45px 115px rgb(207, 156, 156),
        -20px 125px rgb(138, 74, 74),
        30px 65px rgb(128, 49, 49);
    }
}   

.doce{
    width: 5%;
    margin-top: -11px;
    margin-left: 180px;
    font-size: 40px;
    font-family: cursive;
    color: rgb(212, 123, 21);
    border-radius: 40%;
    rotate: 220deg;

    
}

.doce2{
    width: 5%;
    margin-top: 40px;
    margin-left: 160px;
    font-size: 30px;
    font-family: cursive;
    color: rgb(21, 212, 132);
    border-radius: 40%;
    rotate: 160deg;

    
}

.doce3{
    width: 5%;
    margin-top: -60px;
    margin-left: 210px;
    font-size: 30px;
    font-family: cursive;
    color: rgb(192, 25, 13);
    border-radius: 40%;
    rotate: 200deg;
    
}

/*Mural*/

.mural{
    width: 750px;
    height: 300px;
    background: linear-gradient(to bottom right, rgb(8, 4, 71), rgb(20, 13, 61), rgb(49, 0, 68) );
    margin-top: 100px;
    margin-left: 100px;
}

 /* animacao com estrelas*/
 .estrelas1{
    position: relative;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
    100px 80px white,
    150px 120px white,
    250px 50px white,
    350px 90px white,
    400px 30px white,
    450px 120px white,
    500px 20px white,
    630px 120px white,
    580px 140px white,
    610px 90px white,
    550px 70px white,
    620px 30px white,
    600px 150px white;
    animation: anim-estrelas1 40s linear infinite;
    opacity: 20%;
  }
 
  @keyframes anim-estrelas1{
    from{
       transform: translateY(0px);
    }
  }

  
 .estrelas{
    position: relative;
    margin-top: -120px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
    100px 80px white,
    150px 120px white,
    250px 50px white,
    350px 90px white,
    400px 30px white,
    450px 120px white,
    500px 20px white,
    630px 120px white,
    580px 140px white,
    610px 90px white,
    550px 70px white,
    620px 30px white,
    600px 150px white;

    animation: anim-estrelas 10s linear infinite;
    animation-delay: 3s;
  }
 
  .estrelas::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 50px 30px white,

  }
 
  @keyframes anim-estrelas{
    from{
       transform: translateY(0px);
    }
    to{
       transform: translateY(200px);
    }
  }
 
  /*fim da animacao*/

  /* textos*/
h1{
    margin-left: 80px;
    margin-top: 30px;
    font-family: cursive;
    font-size: 35px;
    color: green;
    text-shadow: 5px 5px darkblue;
}

h3{
    margin-left: 250px;
    margin-top: 60px;
    font-family: cursive;
    font-size: 35px;
    color: rgba(255, 166, 0, 0.818);
    text-shadow: 5px 5px darkblue;
    animation: nome 10s;
    animation-iteration-count: 1;
}

@keyframes nome {
    0%{
        margin-top: 60px;
    }
    100%{
        transform: translateY(50px);
        transform: scale(1);
        margin-top: 10px;
    }
}

/*clone

.container3{
    width: 200px;
    height: 500px;
    background-color: green;
    margin-top: -490px;

}

#arvore3{
    clip-path: polygon(
        20% 80%,
        80% 80%,
        50% 40%
    );
    margin-left: 230px;
}

.tronco3{
    width: 20px;
    height: 90px;
    background-color: brown;
    margin-left: 310px;
    margin-top: -100px;
}
*/